@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "variables";
@import "general";
@import "responsive";

@mixin borderline ($margin, $padding) {
    padding: $padding;
    margin: $margin;
}

$portbox: (
1: flex-start,
2: flex-end,
);

@each $puerto, $valor in $portbox {
    .port#{$puerto} {
        align-items: $valor;
    }
}

.sectionServices{
    grid-area: services;
    justify-content: center;
    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .testImage {
            padding: 10px;
        }
        }
}

.sectionDifference{
    grid-area: difference;
    article {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 40px;
        div {
            padding: 20px;
        }
    }
}

.sectionPortfolio{
    grid-area: portfolio;
    article {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

.port1 {
    display: flex;
    padding: 10px;
}

.port2 {
    display: flex;
    padding: 10px;
}

.port3 {
    flex-flow: column wrap;
    justify-content: space-around;
    display: flex;
    padding: 10px;
}

.sectionContact {
    grid-area: contact;
    display: flex;
    flex-flow: column nowrap;
    form {
        align-self: center;
        padding: 10px;
        textarea {
            border: 1px solid $color1;
            background-color: $color3;
            @include borderline(10px 0px, 10px)
        }
    }
}

input {
    border: 1px solid $color1;
    background-color: $color3;
    height: 50px;
    @include borderline(10px, 10px)
}

.input-2 {
    @extend input;
    font-weight: 700;
}

.randomText {
    max-width: 50%;
    align-self: center;
}



